#form-fattura {
    max-width: 1024px;
    padding: 2rem;
    margin: auto;
    background-color: #b3cccc;
    border-radius: 25px;
}

#articoli {
    background-color: darkturquoise;
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: 15px;
}

small { margin: 0; }
.articolo { margin-top: 2px; }
.add-person { margin: 1rem 0; }
#input-note { min-height: 80px; }
#label-iva-sul-totale { margin-top: 5px; }