#form-fattura {
    max-width: 1024px;
    padding: 2rem;
    border: 1px solid red;
    margin: auto;
    background-color: #b3cccc;
}

small {
    margin: 0;
}

#articoli {
    background-color: gold;
    padding: 1rem 3rem;
    margin-top: 1rem;
}

.add-person {
    margin: 1rem 0;
}