html {
    height: 100%; /* Serve per l footer */
}

body {
    background-color: darkturquoise;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%; /* Serve per l footer */
    position: relative; /* Serve per l footer */
}

header {}

main {
    padding-bottom: 200px;  /* Serve per l footer */
    /* 
    * padding-bottom:
    * Serve a non far sovrapporre il footer al main.
    * Corrisponde all'altezza del footer (175px),
    * più un distacco grafico (25px).
    */
}

footer {
    padding: 1rem;
    border-top: solid 1px black;
    text-align: center;
    background-color: lightcyan;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 175px;
}

#copyright {
    color: #6c757d;
}

.cover-link{
    color: black;
    text-decoration-line: underline;
}

.coverlink:hover{
    color: darkblue;
}

h3 {
    background-color: white;
    padding: 5px;
}

.logo-text {
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
    color: #fff;
}

#articoli {
    background-color: gold;
}