html {
    height: 100%; /* Serve per l footer */
    font-size: 1rem;
}

.navbar-wrapper, main { max-width: 1024px; margin: auto; }

header {
    background-color: #222;
    color: red;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#showUserNameListItem {
    position: absolute;
    right: 1rem;
}

#showUserName {
    color: gold;
    border: 1px dashed gold;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
}

.navbar-brand:hover, .nav-item:hover {
    border-radius: 5px;
    color: gold;
}

body {
    /* max-width: 1024px; */
    background-color: darkturquoise;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%; /* Serve per l footer */
    position: relative; /* Serve per l footer */
    display: block;
}

main {
    padding-bottom: 125px;  /* Serve per l footer */
    /* 
    * padding-bottom:
    * Serve a non far sovrapporre il footer al main.
    * Corrisponde all'altezza del footer (100px),
    * più un distacco grafico (25px).   
    */
    margin-top: 1rem;
}

footer {
    padding: 0.5rem;
    border-top: solid 0.15rem #111;
    text-align: center;
    background-color: #222;
    color: lightcyan;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
}

.no-margin {
    margin:0;
    text-align: center;
}

#copyright {
    color: #6c757d;
}

.cover-link{
    color: rgba(224, 255, 255, 0.75);
    text-decoration-line: underline;
}

.cover-link:hover{
    color: gold;
}

h3 {
    background-color: white;
    padding: 5px;
}

.cover{height: 75%;
	background-image: url(https://source.unsplash.com/random);	
    background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
	position: relative;
}