body {
    /* background-color: deepskyblue; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: deepskyblue;
}

#index-iframe {
    border: none;
    background-color: red;
}

footer {
    background-color: yellow;
}

h3 {
    background-color: rgb(0, 255, 200);
    padding: 5px;
}
.note_invoice {
    width: 250px;
    height: 50px;
}

/*  Work In Progress  */
.wip {  
    display: inline;
    background-color: red;
    color: #fff;
    padding: 25px;
    border-radius: 5px;
}

.logo-text {
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
    color: #fff;
}