body{
    background-color: cyan;
}





#immagine{
    position: absolute;
    display: block;
    top: 25px;
    width: 384px;
    height: 125px;
    left: 40%;
    right: 40%;
}

#img-fatturo{
    position: absolute;
    display: block;
    left: 129.5px;
    width: 125px;
    height: 125px;
}





.form-signin{
    position: absolute;
    display: block;
    width: 384px;
    top: 200px;
    left: 40%;
    right: 40%;
}

#loggare{
    font-size: 38;
}

#btnLogin{
    position: relative;
    display: block;
    background-color: green;
    width: 269px;
    left: 15%;
}

#btnLogin:hover{
	background-color: darkgreen;
}

#btnRegistrati{
    position: relative;
    display: block;
    background-color: orange;
    width: 269px;
    left: 15%;
}

#btnRegistrati:hover{
    background-color: orangered;
}





.footer{
    position: absolute;
    display: block;
    background-color: lightcyan;
    top: 837px;
    width: 100%;
    height: 100px;
    border-top: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}

#fatturo-footer{
    padding-top: 4px;
    margin: 0px;
}

.par-footer{
    margin:0;
    text-align: center;
}

#copyright{
    margin:0;
    text-align: center;
    color:#6c757d;
}

.cover-link{
    color: black;
    text-decoration-line: underline;
}

.coverlink:hover{
    color: darkblue;
}