#idDiv{
    position: relative;
        width: 100%;
        top: 10px;
        
        
        text-align: center;
    }

#divImporto{
    position:relative;
    width:100%;
    left: 180%;
    bottom:10px;
}

#idScritta{
    position:relative;
    left: 300%;

}

#divBtn{
    position: relative;
    top:100px;
    
}



#l1{
    background-color: yellow;
    border-color :white;
    border-width: 5px;
    

}

#l2{
    background-color: yellow;
    border-color:white;
    border-width: 5px;
}
