/*
#idDiv{
    position: relative;
        width: 100%;
        top: 10px;
        
        
        text-align: center;
    }

*/

#divInput{

    
    
    margin-top: 30px;
    
}

#divImporto{
    display: flex;
    
    width:25%;
    
    margin-right: auto;
    margin-left: auto;
    
}
#inputImporto{

    border-style:solid;
    text-align:center;
    
}

#idScritta{

    text-align: center;

}

#labelEuro{
    background-color: gold;
    font-size: 25px;
    width:37px;
    height:37px;
    


}
/*
#scrittaImporto{
    


}
*/



#divBtn{
    margin-top: 30px;
    
    
}
#btnPagamento{
    width: 10%;

}


#l1{
    background-color: yellow;
    border-color :white;
    border-width: 5px;
    

}

#l2{
    background-color: yellow;
    border-color:white;
    border-width: 5px;
}
