body{
    background-color: cyan;
}

#immagine{
    position: absolute;
    display: block;
    top: 3%;
    height: 20%;
    left: 37.5%;
    right: 37.5%;
}

#img-fatturo{
    position: absolute;
    width: 125px;
    height: 125px;
    left: 37%;
    right: 37%;
    display: block;
}

.form-signin{
    position: absolute;
    display: block;
    top: 28%;
    left: 35%;
    right: 35%;
}

#btnRegistrati{
    position: relative;
    display: block;
    background-color: green;
    width: 70%;
    left: 15%;
}