body{
    background-color: cyan;
}

#immagine{
    position: relative;
    display: block;
    top: 3%;
    width: 13.4%;
    height: 20%;
    left: 45%;
}

#img-fatturo{
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
}

#btnRegistrati{
    position: relative;
    display: block;
    background-color: green;
    width: 70%;
    left: 15%;
}

.form-signin{
    position: absolute;
    display: block;
    top: 28%;
    left: 35%;
}